body {
    text-align: center;
    margin-top: 30px;
    font-family: "Courier";
    color: black;
 background: linear-gradient(to bottom, #fffffff3, #9b9898); /* Replace colors with your desired gradient */
    }
    
    .title {
        font-family: 'Segoe Script', cursive;
        font-size: 40px;
        color: black;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow for emphasis */
    }
    

    .hero-content {
        text-align: center;
        color: rgb(0, 0, 0); /* Ensure text is readable against background image */
    }
  
.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#missU {
    width: 370px;
    margin: 0 auto; /* Center horizontally */

}


.time-btn {
    padding: 12px 24px;
    font-size: 18px;
    margin: 10px auto; /* Center horizontally */
    font-family: "Courier", monospace;
    background-color: #f5f5f5;
    color: rgb(5, 5, 5);
    border-radius: 12px;
    border: 2px solid #000000;
    box-shadow: 1px 1px 2px rgb(37, 37, 37);
    transition: 0.3s;
    display: inline-block; /* Change to inline-block to fit content */
    min-width: 150px; /* Set a minimum width */
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* Remove underline for anchor tags */
    cursor: pointer;
    margin-top: 20px; /* Adjust margin-top to move the button down */
}

.time-btn:hover {
    background-color: #e0e0e0; /* Change background color on hover */
}

/* If your button is an anchor tag (<a>), add this style to remove the default underline */
.time-btn:hover,
.time-btn:focus,
.time-btn:active {
    text-decoration: none;
}